@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Nunito&display=swap');

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #FFFFFF;
  background-size: cover;
  color: #032633;
  font-family: 'Nunito', sans-serif;
}

.table .podium {
  padding-left: 8px !important;
}

.card-deck {
  color: #FFFFFF;
}

.card-deck .podium {
  font-size: 60px;
  margin-top: 20px;
}

.card-footer {
  margin-top: 20px;
}

.first {
  background: #E0BD3F;
}
.second {
  background: #D4CDC7;
}
.third {
  background: #A85008;
}

.navbar {
  border-bottom: 1px solid rgba(160, 175, 181, 0.3);
  /*min-height: 80px;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding: 15px 15px;
}

.nav-link {
  font-weight: 600;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.form-control {
  border-radius: 0;
  width: 200px;
  margin-left: auto;
}

/*.card {
  border-radius: 0;
  border: 0;
  //box-shadow: 2px 4px 20px rgba(26, 26, 26, 0.04);
}*/

.btn {
  font-size: 14px;
}

@media (max-width: 767px) {
  .navbar-collapse {
    margin-top: 15px;
  }
}