@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Nunito&display=swap');

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #FFFFFF;
  background-size: cover;
  color: #032633;
  font-family: 'Nunito', sans-serif;
}

.podium {
  padding-left: 8px !important;
}

.navbar {
  border-bottom: 1px solid rgba(160, 175, 181, 0.3);
  /*min-height: 80px;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding: 15px 15px;
}

.nav-link {
  font-weight: 600;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-control {
  border-radius: 0;
  height: 50px;
}

.card {
  border-radius: 0;
  box-shadow: 2px 4px 20px rgba(26, 26, 26, 0.04);
}

@media (max-width: 991px) {
  .navbar-collapse {
    margin-top: 15px;
  }
}