@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Nunito:wght@400;700&display=swap');

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #FFFFFF;
  background-size: cover;
  color: #032633;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.table .podium {
  padding-left: 8px !important;
}

.card-deck {
  color: #FFFFFF;
}

.card-deck .podium {
  font-size: 60px;
  margin-top: 20px;
}

.card-footer {
  margin-top: 20px;
}

.first {
  background: #E0BD3F;
}
.second {
  background: #D4CDC7;
}
.third {
  background: #A85008;
}

.navbar {
  border-bottom: 1px solid rgba(160, 175, 181, 0.3);
  /*min-height: 80px;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding: 15px 15px;
}

.page-link {
  color: #ee4732;
}

.page-item.active .page-link {
  background-color: #ee4732;
  border-color: #ee4732;
}

.nav-link {
  font-weight: 600;
}

.form-control {
  border-radius: 0;
  width: 200px;
  margin-left: auto;
}

/*.card {
  border-radius: 0;
  border: 0;
  //box-shadow: 2px 4px 20px rgba(26, 26, 26, 0.04);
}*/

.btn {
  font-size: 14px;
}

.tab-content {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

td.description {
  width: 30%;
}

th {
  font-weight: 700;
}

.flex {
  display: flex;
  align-items: center;
}

.BiArrow {
  font-size: 24px;
}

.BiArrow--From {
  color: #519548;
}

.BiArrow--To {
  color: #26ADE4;
}

.BiArrow--mr {
  margin-right: 8px;
}

.fromto-title {
  background: #fafafa;
  margin-right: 8px;
}

@media (max-width: 767px) {
  .navbar-collapse {
    margin-top: 15px;
  }
}